<!DOCTYPE html>
<html ng-app="processorJar">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
    <script src="uploader.min.js"></script>
    <script src="controller.js"></script>
    <!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>Анализ Jar файла (ревизия по коду)</title>
</head>
<body ng-controller="Ctrl">
<div class="page-header">
    <h1>Анализ Jar файла (ревизия по коду)</h1>
</div>
<div id="uploader">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <div>
                    <div style="float:right;">
                        <button ng-click="btn_upload()">Загрузить</button>
                        <button ng-click="btn_clean()">Удалить все</button>
                    </div>
                    <input type="file" id="file1" multiple/>
                </div>
                <div ng-repeat="file in files" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
                    <div><span>{{file.name}}</span>

                        <div style="float:right;"><span>{{file.humanSize}}</span><a ng-click="btn_remove(file)" title="Remove from list to be uploaded"><i class="icon-remove"></i></a></div>
                    </div>
                    <progress style="width:400px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    Название класса:
    <ul>
        <li style="cursor: pointer"
            ng-style="{ 'font-weight': item === selectedClazz ? 'bold' : '' }"
            ng-repeat="item in clazz"
            ng-click="selectClazz(item)">
            {{item.name}}
        </li>
    </ul>

    <div>
        Название элемента класс:
        <ul>
            <li ng-repeat="item in selectedClazz.elements"
                style="cursor: pointer"
                ng-style="{ 'font-weight': item === selectedElement ? 'bold' : '' }"
                ng-repeat="item in clazz"
                ng-click="selectElement(item)">
                {{item.name}}
            </li>
        </ul>
    </div>
    <div ng-show="selectedElement">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Поиск по автору" ng-model="searchAuthor">
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'author'; sortReverse = !sortReverse">
                        Автор
                        <span ng-show="sortType == 'author'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                        Описание
                        <span ng-show="sortType == 'description'" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                        Дата
                        <span ng-show="sortType == 'date'" class="fa fa-caret-down"></span>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in selectedElement.revisions | filter: searchAuthor | orderBy:sortType:sortReverse">
                <td>{{item.author}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>